<h2>Recent Posts</h2>

<ul class="posts">
  <% section.contents.slice(0, 15).each do |content| %>
    <li><%= link_to(content.title, local_path(content)) %></li>
  <% end %>
</ul>
<p><%= link_to('Older posts', 'archive.html') %> &rarr;</p>